{% extends 'blog/base.html' %}

{% block main_area %}
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <div class="d-flex align-items-center justify-content-between">
                             <!-- Post title-->
                                <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                             {% if post.category %}
                                <span class="badge bg-secondary ms-2 float-right"><h6>{{ post.category }}</h6></span>
                             {% else %}
                                <span class="badge bg-secondary ms-2 float-right"><h6>미분류</h6></span>
                             {% endif %}
                            </div>
                                <li class="text-muted"><b>{{ post.hook_text }}</b></li>
                                <!-- Post meta content-->
                            <!-- Author -->
                                <p class="lead d-flex align-items-center justify-content-between">
                                    <span>
                                        by <a href="#">{{ post.author | upper }}</a>
                                        <span class="text-muted fst-italic ms-2">{{ post.created_at }}</span>
                                    </span>

                                    {% if user.is_authenticated and user == post.author %}
                                        <a class="btn btn-outline-info btn-sm ms-auto" href="/blog/update_post/{{ post.pk }}/" role="button">
                                            <i class="fas fa-pen"></i> 수정하기
                                        </a>
                                    {% endif %}
                                </p>
                            <hr>

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                        {% if post.head_image %}
                            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" />
                        {% else %}
                            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/4000/3000" alt="rondom_image">
                        {% endif %}
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.get_content_markdown | safe }}</p>
                        </section>

                        {% if post.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in post.tags.all %}
                                <a href="{{ tag.get_absolute_url }}" class="badge badge-light text-dark">{{ tag }}</a>
                            {% endfor %}
                            <br/>
                            <br/>
                        {% endif %}

                        {% if post.file_upload %}
                            <span class="fw-bold d-inline">첨부파일:</span>
                            <a href="{{ post.file_upload.url }}" class="btn btn-outline-info" role="button">
                              Download:

                              {% if post.get_file_ext == 'csv' %}
                                <i class="fas fa-file-csv"></i>
                              {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                <i class="fas fa-file-excel"></i>
                              {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                                <i class="fas fa-file-word"></i>
                              {% else %}
                                <i class="far fa-file"></i>
                              {% endif %}

                              {{ post.get_file_name }}
                            </a>
                        {% endif %}
                    </article>
                    <!-- spacing -->
                    <hr>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <h5 class="card-header">댓글</h5>
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                                </form>
                                {% if post.comment_set.exists %}
                                    {% for comment in post.comment_set.iterator %}
                                    <!-- Comment with nested comments-->
                                    <div class="d-flex mb-4" id="comment-{{ comment.pk }}">
                                        <!-- Parent comment-->
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.author.username}} &nbsp;&nbsp;<small class="text-muted">{{comment.created_at}}</small>
                                                <p>{{comment.content | linebreaks}}</p>
                                            </div>
                                        </div>
                                    </div>
                                     <hr/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </section>

{% endblock %}
